<form class="form-horizontal" role="form" ng-submit="vm.submit()">
    <table class="sp-settings-row">
        <tbody>
            <tr>
                <td>
                    <h4>Color:</h4>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group col-md-offset-2 col-md-8">
                            <input 
                                id="color-red"
                                class="form-control"
                                type="number" 
                                min="0"
                                max="255"
                                ng-model="vm.red"
                                aria-describedby="color-red-addon">
                            <span 
                                class="input-group-addon" 
                                id="color-red-addon">R</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="center-block" style="
                        background-color: rgb({{vm.red}}, {{vm.green}}, {{vm.blue}});
                        border: 1px solid black;
                        height: 20px;
                        width: 20px;
                        margin-top: auto;
                        margin-bottom: auto;
                    "></div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group col-md-offset-2 col-md-8">
                            <input 
                                id="color-green"
                                class="form-control"
                                type="number"
                                min="0"
                                max="255"
                                ng-model="vm.green"
                                aria-describedby="color-green-addon">
                            <span 
                                class="input-group-addon" 
                                id="color-green-addon">G</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="vm.preset">
                        <option value="" disabled selected>Presets</option>
                        <option ng-repeat="(color, preset) in vm.COLOR_PRESETS" value="{{color}}">{{color}}</option>
                    </select>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group col-md-offset-2 col-md-8">
                            <input 
                                id="color-blue"
                                class="form-control"
                                type="number" 
                                min="0"
                                max="255"
                                ng-model="vm.blue"
                                aria-describedby="color-blue-addon">
                            <span 
                                class="input-group-addon" 
                                id="color-blue-addon">B</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="input-group col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-default" ng-submit="vm.submit()">Submit</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>