<form class="form-horizontal" role="form">
    <table class="sp-settings-row">
        <tbody>
            <tr>
                <td>
                    <h4>Functions</h4>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" ng-click="vm.clear()">Reset</button>
                            <button type="button" class="btn btn-default" ng-click="vm.invert()">Invert</button>
                            <button type="button" class="btn btn-default" ng-click="vm.random()">Random</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>