nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar")
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/about") About
                li
                    a(href="#") Angular


.col-md-12.text-center.jumbotron
    h1 Sketchpad
    p in various frameworks