// Angular
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")

// Angular Modules
script(src="/angular/angular-modules.js")

// Angular Components
script(src="/angular/angular-components.js")